form {
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    width: 250px;
    margin: 0 auto;
}

label[for="character-count"] {
    background-color: grey;
    padding: 0 20px;
}

button[type="submit"] {
    width: 300px;
    background: darkgray;
    border-radius: 5px;
    margin-top: 20px;
    height: 50px;
    display: table-cell;
    font-size: 24px;
}

#character-count {
    border: 1px solid black;
    width: 50%;
    justify-items: center;
    margin: 2px auto 0 auto;
    text-align: center;
}

.info {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.info > strong {
    font-size: 34px;
}
